.loading-pane.svelte-jb02kb{display:flex;justify-content:center;align-items:center;height:100%}.pdf-container.svelte-jb02kb{flex:1;min-height:0;border:1px solid black;display:flex;flex-direction:column}
